<div>
  

<div class="jumbotron">
  <div class="row">
    <div class="col-4">
      <h1>Control</h1>
      <h1>Empresarial</h1>
    </div>
    <div class="col-6">
        <img src="../../../assets/favicoTransp.png"/>
      </div>
  </div> <br>
        <h1 class="">Mision</h1>
    
        <p>AutoFácil es una agencia de autos, orientada a todos tipo de gustos, gracias a nuestara amplia varidedad de
          modelos podrás obtener un vehiculo de aucerdo a las necesidades y carecteristicas que necesitas.
        </p>
        <!--                <p><a class="btn btn-primary btn-lg" href="#">Learn more</a></p>-->
      </div>
      <div class="jumbotron">
        <h1 class="">Vision</h1>
    
        <p>AutoFácil es una agencia de autos, orientada a todos tipo de gustos, gracias a nuestara amplia varidedad de
          modelos podrás obtener un vehiculo de aucerdo a las necesidades y carecteristicas que necesitas.
        </p>
        <!--                <p><a class="btn btn-primary btn-lg" href="#">Learn more</a></p>-->
      </div>
      <div class="jumbotron">
        <h1 class="">Descripcion de la empresa</h1>
    
        <p>AutoFácil es una agencia de autos, orientada a todos tipo de gustos, gracias a nuestara amplia varidedad de
          modelos podrás obtener un vehiculo de aucerdo a las necesidades y carecteristicas que necesitas.
        </p>
        <!--                <p><a class="btn btn-primary btn-lg" href="#">Learn more</a></p>-->
      </div>
    </div>