/* You can add global styles to this file, and also import other style files */
body{
    
    background-image: url("./assets/body-background.jpg");
    /* background-repeat: no-repeat; */
    /* background-size: 100% auto; */
    background-size: 100% 100%;
}
.transparent{
    /* background-color: #e1bee7  */
    opacity: .6;
}
.custom-font{
    font-family: 'Concert One', cursive;
    font-size: 3.5em;
} 