<div class="loader d-flex justify-content-center" *ngIf="loading">
        <img class="img-fluid loading" src="../../../assets/gift.gif">
      </div>
<div *ngIf="!loading" class="card text-center">
    <div class="card-header">
        Informacion de contacto
    </div>
    <div class="card-body">
        <h5 class="card-title">Correo</h5>
        <p class="card-text">
            <i class="fa fa-envelope-o" style="font-size:24px"></i>
            atencion.clientes@controlempresarial.mx
        </p>

        <h5 class="card-title">Teléfono</h5>
        <p class="card-text">
            <i class="fa fa-phone" style="font-size:24px"></i>
            5564646464</p>
        <h5 class="card-title">Dirección</h5>
        <p class="card-text">
            <i class="fa fa-map-marker" style="font-size:24px"></i>
            Bosques de Senegal No. 77
            Col. Bosques de Aragon
            CP 575170
            Cd Nezahualcoyotl
        </p>
        <h5 class="card-title">Nos puedes encontrar en maps como Control Empresarial </h5>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.371672406679!2d-99.1502094850908!3d19.396340746865246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff02da285da1%3A0x487d2bccea7f9a17!2sControl%20Empresarial!5e0!3m2!1ses-419!2smx!4v1569520511509!5m2!1ses-419!2smx"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <!-- <div class="card-footer text-muted">
        2 days ago
    </div> -->
</div>