<div>
    <h1>
        Hola esto se visualiza desde un Frame
    </h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        A illum nemo fuga eum incidunt sint distinctio vel voluptates molestias nihil
        reprehenderit perferendis veritatis, minus, pariatur, enim vitae deserunt sit reiciendis.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        A illum nemo fuga eum incidunt sint distinctio vel voluptates molestias nihil
        reprehenderit perferendis veritatis, minus, pariatur, enim vitae deserunt sit reiciendis.
    </p>
</div>